*.mp4 filter=lfs diff=lfs merge=lfs -text
downloads/*.mp4 filter=lfs diff=lfs merge=lfs -text
downloads/Rick[[:space:]]Astley[[:space:]]-[[:space:]]Never[[:space:]]Gonna[[:space:]]Give[[:space:]]You[[:space:]]Up[[:space:]](Official[[:space:]]Video)[[:space:]](4K[[:space:]]Remaster)[[:space:]]-[[:space:]]dQw4w9WgXcQ.mp4 filter=lfs diff=lfs merge=lfs -text
